[Desktop Entry]
Type=Application
Name=falafel
Comment=Standalone, Steam-independent Battle.net launcher
Exec=falafel-gui
Icon=falafel
Categories=Game;
Terminal=false
